.git
.gitignore
node_modules
**/node_modules
.pnp.*
.yarn/cache
.yarn/install-state.gz
dist
**/dist
.next
**/.next
coverage
*.log
logs/
bifold-wallet/
**/bifold-wallet/**
package-lock.json
**/package-lock.json
Dockerfile*
**/.DS_Store
